 <!--in the button I use template reference-->
 <button type="button" class="btn btn-primary" (click)="show(modal)">
    Acerca de
  </button>
<!--see the template reference-->
<div #modal class="modal fade" tabindex="-1" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Acerca de</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Este proyecto es un crud para un catalogo en linea de maruchans para crear y mostrar una lista,
            realizado por el ingeniero Alan Edgardo Hernandez
            Sandoval y el Semi-Ingeniero Jose Ariel Guerreo Onitveros.
            Todos los derechos reservados van para la materia de Aplicaciones web escalables.
            Este proyecto no fue hecho con fines de lucro ni presupuesto
            Bajo la doctrina del fair use, está permitido usar partes de una obra intelectual ajena protegida 
            con copyrights sin la autorización del titular de dichos derechos si se cumplen determinados requisitos.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
   </div>
</div>