<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Maruchan</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>
<body>

  <nav class="navbar  navbar-expand-lg  navbar-light " style="background-color: #ca6c00;">
    <div class="container-fluid justify-content-center">
      <a class="navbar-brand fw-bold " href="#">
        <img src="https://cdn.worldvectorlogo.com/logos/maruchan.svg" alt="Logo" width="30" height="30" class="d-inline-block  align-text-top" >
        MARUCHANS
      </a>
      <form class="navbar-form navbar-left">
      </form>
    </div>

  </nav>
     <!-- Button trigger modal -->
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
  README
</button>


<!-- Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ACERCA DE</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Este proyecto es un crud para un catalogo en linea de maruchans para crear y mostrar una lista,
        realizado por el ingeniero Alan Edgardo Hernandez
        Sandoval y el Semi-Ingeniero Jose Ariel Guerreo Onitveros.
        Todos los derechos reservados van para la materia de Aplicaciones web escalables.
        Este proyecto no fue hecho con fines de lucro ni presupuesto
        Bajo la doctrina del fair use, está permitido usar partes de una obra intelectual ajena protegida 
        con copyrights sin la autorización del titular de dichos derechos si se cumplen determinados requisitos.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <app-mostrar></app-mostrar>

  <br>

  <app-agregar></app-agregar>




</body>
</html>